.route-item {
    margin-bottom: 20px;
    color: $asana-navy;
    border-radius: 3px;;
    transition: 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 110px;
    border: 1px solid black;
    cursor: pointer;
}

// .route-item.selected {
//     background-color: lightgray;
// }

// .route-item:hover {
//     background-color: #d5d1fc;
// }

.route-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route-name {
    display: flex;
    align-items: center;
}

#route-icon {
    margin-right: 10px;
    margin-left: 6px;
}

#delete-icon {
    margin-right: 12px;
}

.route-loc {
    display: flex;
    align-items: center;
}

.route-city {
    display: flex;
    justify-content: space-evenly;
}

.route-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.route-info-icon {
    width: 30%;
}

.route-info-icon i {
    margin-left: 26px;
}

.route-info-section {
    width: 33%;
}

.route-p {
    font-size: 13px;
}


