.route-item {
    margin-bottom: 20px;
    color: $asana-navy;
    border-radius: 3px;;
    transition: 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 110px;
    border: 1px solid black;
    cursor: pointer;
}

// .route-item.selected {
//     background-color: lightgray;
// }

.route-item:hover {
    // background-color: #c0bafc;
    // background-color: #bbb5fc;
    // background-color: #cbc7fc;
    background-color: #d5d1fc;
    // background-color: lightgray;
}

.route-name {
    display: flex;
    align-items: center;
}

.route-name i {
    margin-right: 10px;
    margin-left: 6px;
}

.route-loc {
    display: flex;
    align-items: center;
}

.route-city {
    display: flex;
    justify-content: space-evenly;

    // border: 1px solid blue;
}

.route-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // border: 1px solid green;
}

.route-info-icon {
    width: 30%;
    // border: 1px solid blue;
}

.route-info-icon i {
    margin-left: 26px;
}

.route-info-section {
    width: 33%;
    // border: 1px solid red;
}


.route-p {
    font-size: 13px;
}


