.food-main-container {
    display: flex;
    justify-content: space-between;
    // border: 1px solid green;
    margin: 0 auto;
    width: 80%;
}

.food-index-header {
    font-size: 16px;
    font-weight: 600;
}

.food-map-sticky {
    height: 350px;
    position: sticky;
    top: 70px;
    width: 35%;
}

// stick needs top right, left or bottom

.food-map-container {
    height: 100%;
    width: 100%;
}