.header-container {
    width: 100%;
    background-color: #FFFFFF;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#main-icon {
    // border: 2px solid purple;
    margin-left: 30px;
}

#logo {
    width: 50px;
    height: 50px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.session-links {
    display: flex;
    justify-content: space-around;
    width: 14%;
    margin-right: 30px;
}

.session-lnk {
    cursor: pointer;
}