.sessions-container {
    margin: 0 auto;
    border: 1px solid black;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    // justify-content: space-around;
}

.register-form-top {
    display: flex;
    justify-content: space-between;

    width: 105%;
}

.register-form-input {
    width: 44%;
}

.register-form-label {
    width: 100%;
    margin-left: 8px;
}

.session-form-input {
    margin: 10px 0;
}

.session-header {
    margin-bottom: 30px;
}

.session-form-label {
    width: 100%;
    margin-left: -20px;
}

.form-redirect {
    display: flex;
    margin-top: 20px;
}

.form-redirect a {
    color: $asana-purp;
}

.form-redirect a:hover {
    color: $asana-btn-hover;
    text-decoration: underline;
    text-decoration-color: $asana-btn-hover;
}