.session-container {
    width: 60%;
    margin: 0 auto;
}

.sessions-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 100px;
    background-color: #FFFFFF;
}

.register-form-top {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    width: 105%;
}

.register-form-input {
    width: 44%;
}

.register-form-label {
    width: 100%;
    margin-left: 8px;
}

.session-form-input {
    margin: 10px 0;
}

.session-header {
    margin-bottom: 14px;
    line-height: 32px;
}

.session-form-label {
    width: 100%;
    margin-left: -20px;
}

.form-redirect {
    display: flex;
    margin-top: 20px;
}

.form-redirect a {
    color: $asana-purp;
}

.form-redirect a:hover {
    color: $asana-btn-hover;
    text-decoration: underline;
    text-decoration-color: $asana-btn-hover;
}

.errors-ele {
    font-size: 13px;
    color: #FF5668;
}