.sessions-container {
    margin: 0 auto;
    border: 3px solid black;
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
}